:root {
	--Layout-sidebar-width: 0px;
	--Layout-gutter: 0px;
	--color-avatar-border: 0;


}

a {
	text-decoration: none;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
}

.leftPart {
	width: var(--Layout-sidebar-width);
}

.App {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 24px;
}

.container {
	margin-left: 24px;
	margin-right: 24px;

	display: grid;
	--Layout-sidebar-width: 296px;
	--Layout-gutter: 24px;
	grid-auto-flow: column;
	grid-template-columns: auto minmax(0, calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)));
	grid-gap: var(--Layout-gutter);
}

.avatar {
	overflow: hidden;
	line-height: 1;
	border: 1px solid #ccc;
	border-radius: 6px;
	flex-shrink: 0;
	box-shadow: 0 0 0 1px var(--color-avatar-border);
	border-radius: 50% !important;
	height: auto;
	width: var(--Layout-sidebar-width);

	&-container {}
}

.sidepanel-container {
	width: var(--Layout-sidebar-width);
	grid-column: 1;
}

.userName {
	color: #666;
	font-size: 20px;
	font-weight: 200;
	margin-top: 0;
}

.bioIcon {
	font-weight: 200;
	margin-top: 0;
	height: 16px;
	width: 16px;
	margin-right: 4px;
}

.follow {
	font-size: 14px;
	margin-right: 4px;
	display: flex;
	align-items: center;
	color: #57606a
}

.stat {
	font-weight: 600;
	margin-right: 4px;
}

.followContainer {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.horizontalLine {
	width: 100%;
	height: 1px;
	background-color: #d0d7de;
	margin-top: 8px;
	margin-bottom: 8px;
}

.title {
	font-size: 16px;
	font-weight: 600;
	margin-top: 0;
}

.navMenu {
	display: flex;
	align-items: center;
	margin-top: 8px;
	margin-left: calc(var(--Layout-gutter)*2);
}

.navItemIcon {
	margin-right: 4px;
}

.navItem {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 600;
	margin-top: 0;
	border-radius: 4px;
	line-height: 30px;
	border-radius: 6px;
	margin-bottom: 0;
	color: #57606a;
	position: relative;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	align-items: center;
}

.navItemUnderline {}

.navItem:active:after,
.active:after {
	position: absolute;
	right: 50%;
	bottom: calc(50% - 25px);
	width: 100%;
	height: 2px;
	content: "";
	background: red;
	border-radius: 6px;
	transform: translate(50%, -50%);
}

.navItem:hover {
	color: #57606a;
	background-color: #f5f5f5;
}

.mdBody {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.5;
	margin-top: 1.5rem;
	max-width: 1012px;
	margin-right: auto;
	margin-left: calc(var(--Layout-gutter)*2);
}

.mdBody img {
	max-width: 100%;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 600;

}

.dummy-tabs {
	margin: 0 50px;

	ul {
		height: 50px;
		border-bottom: 1px silver solid;
		display: flex;
		justify-content: flex-start;
		padding-left: 0;

		li {
			display: inline-block;

			a {
				font-weight: 300;
				padding: 16px 8px;
				margin-right: 16px;
				text-decoration: none;
				color: black;

				code {
					background: rgba(27, 31, 35, 0.08);
					opacity: 0.7;
					border-radius: 50%;
				}
			}
		}

		li:nth-of-type(2) {
			border-bottom: 2px red solid;

			a {
				font-weight: 600;
			}
		}
	}
}

#filter-repo {
	margin: 0 50px;
	display: flex;
	width: 100%;
	margin-bottom: 16px;

	.input-field {
		width: 100%;
		height: 100%;
		border-radius: 4px;
		border: 1px solid #ccc;
		padding: 8px;
		transition: all 0.2s ease-in-out;

		&:focus {
			border-color: #57606a;
		}

		&:hover {
			border-color: #57606a;
		}
	}

	.search-field {
		width: 40%;
		margin-left: 0 !important;

		input {
			width: 100%;
		}
	}

	select,
	label {
		margin-right: 10px;
	}

	.select {
		display: flex;

		.select-type,
		.language-type {
			font-size: 17px;
			height: 35px;
			display: inline-block;
			background: #eff3f6;
			border: 1px silver solid;
			border-radius: 5px;
			padding-left: 10px;

			select {
				background: #eff3f6;
				font-weight: bold;
				height: 100%;
				border: 0;
				margin: 0;
				cursor: pointer;

				option {
					font-size: 17px;
				}
			}
		}

		.language-type {
			margin-left: 15px;
		}
	}

	button {
		background: #21d94b;
		color: white;
		outline: none;
		border: 0;
	}

	button:hover {
		background: #28a745;
	}
}

@media (max-width: 1320px) {
	#filter-repo {
		flex-flow: row wrap;
		justify-content: center;

		.search-field {
			width: 100%;
		}

		.select {
			margin-top: 15px;
			width: 100%;
			justify-content: space-between;

			.language-type {
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 850px) {
	#filter-repo {
		.select {

			.language-type,
			.select-type {
				font-size: 14px;

				select {
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 533px) {
	.dummy-tabs {
		ul {
			margin-right: 0;

			li {
				a {
					margin-right: 5px;
					font-size: 12px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	#filter-repo {
		.search-field {
			margin: 0;
			margin-right: 10px;
		}

		.select {
			flex-flow: row wrap;

			.language-type,
			.select-type {
				width: 45%;
				margin: 0;

				select {
					font-size: 10px;

					option {
						font-size: 10px;
					}
				}
			}

			.select-type {
				select {
					width: 75%;
				}
			}

			button {
				display: inline-block;
				margin-top: 10px;
				width: 100%;
			}
		}
	}
}

@media (max-width: 406px) {
	.dummy-tabs {
		ul {
			margin-right: 0;

			li {
				a {
					margin-right: 0 !important;
					font-size: 11px;
				}
			}
		}
	}
}

.repoItem {
	font-size: 12px;
	padding-top: 24px !important;
	padding-bottom: 24px !important;

	.topPart {
		margin-bottom: 1rem;
	}

	.repoLink {
		font-weight: 600;
		font-size: 20px;
		color: #0969da;
		text-decoration: none;
	}

	.repoLink:hover {
		border-bottom: 2px solid #0969da;

	}

	.Label {
		display: inline-block;
		padding: 0 7px;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		white-space: nowrap;
		border: 1px solid transparent;
		border-radius: 2em;
		color: #57606a;
		border-color: #d0d7de;
		margin-right: 10px;
		margin-left: 10px;
	}

	.bottomPart {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
	}

	.repo-language-color {
		position: relative;
		top: 1px;
		display: inline-block;
		width: 12px;
		height: 12px;
		border: 1px solid transparent;
		border-radius: 50%;
	}

	.techName {
		margin-right: 2rem;
	}

	.Link--muted {
		color: #6c757d;
		margin-right: 2rem;
		display: flex;
		align-items: center;
	}
}