.mdBody {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.5;
	margin-top: 1.5rem;
	max-width: 1012px;
	margin-right: auto;
	color: var(--text-secondary)!important;
	margin-left: calc(var(--Layout-gutter)*2);
	> img {
		max-width: 100%;
	}
	img{
		max-width: 100%;
	}
	a {
		color: var(--text-secondary);
	}
}

@media (max-width: 768px) {
	.mdBody {
		li,ul{
			list-style: none;
		}
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		
		img{
			width: 100%;
		}
		p{
			display: flex;
			justify-content:space-evenly ;
		}
	}

}