.details {
	margin-right: 10px;
	position: relative !important;
	display: block;

	.summary {
		position: relative;
		display: inline-block;
		padding: 5px 16px;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		user-select: none;
		border: 1px solid;
		border-radius: 6px;
		appearance: none;
		color: var(--color-btn-text);
		background-color: var(--color-btn-bg);
		border-color: var(--text-muted);
		list-style: none;

		&:hover {
			border-color: var(--border-btn);
		}
		&:focus {
			border-color: var(--border-btn);
		}


		transition: all 0.2s ease-in-out;

		.dropDownCaret {
			display: inline-block;
			width: 0;
			height: 0;
			vertical-align: middle;
			content: "";
			border-style: solid;
			border-width: 4px 4px 0;
			border-right-color: transparent;
			border-bottom-color: transparent;
			border-left-color: transparent;
			color: var(--color-btn-text);
		}
	}

	.selectMenu {
		position: absolute;
		top: 110%;
		right: 0;
		bottom: auto;
		left: auto;
		padding: 0;

		z-index: 99;
		display: flex;
		pointer-events: none;
		flex-direction: column;
		&Dismiss{
			pointer-events: auto;
			cursor: pointer;
			filter: var(--filter-dismiss);
		}
		&Modal {
			width: 300px;
			height: auto;
			max-height: 480px;
			margin: 8px 0 16px 0;
			font-size: 12px;
			border: 1px solid var(--border);
			border-radius: 6px;
			box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
			position: relative;
			z-index: 99;
			display: flex;
			max-height: 66%;
			margin: auto 0;
			overflow: hidden;
			pointer-events: auto;
			flex-direction: column;
			background-color: var(--color-canvas-overlay);
		}

		&-header {
			padding: 7px 7px 7px 16px;
			display: flex;
			flex: none;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid var(--border);
			color: var(--color-btn-text);
			font-size: 12px;
			pointer-events: auto;
			font-weight: 600;
		}

		&-list {
			position: relative;
			padding: 0;
			margin: 0;
			margin-bottom: -1px;
			flex: auto;
			overflow-x: hidden;
			overflow-y: auto;
			background-color: var(--color-canvas-overlay);
		}
		&-item{
			color: var(--color-btn-text);
			display: flex;
			align-items: center;
			width: 100%;
			padding: 16px;
			padding-top: 7px;
			padding-bottom: 7px;
			overflow: hidden;
			text-align: left;
			cursor: pointer;
			background-color: var(--color-canvas-overlay);
			border: 0;
			border-bottom: 1px solid var(--border);
			&:hover {
				background-color: var(--neutral-hover-color);
			}
		}
	}
}


#filter-repo {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 16px;

	.input-field {
		width: 100%;
		height: 100%;
		border-radius: 4px;
		border: 1px solid var(--border);
		padding: 8px;
		transition: all 0.2s ease-in-out;
		background-color: var(--background);
		color: var(--text-muted);
		&::placeholder{
			color: var(--text-muted);
		}
		
		&:focus {
			border-color: var(--text-accent-fg);
		}

		&:hover {
			border-color: var(--text-accent-fg);
		}
	}

	.search-field {
		width: 40%;
		margin-left: 0 !important;

		input {
			width: 100%;
		}
	}

	select,
	label {
		margin-right: 10px;
	}
	.select {
		display: flex;
	}

	button {
		background: #21d94b;
		color: white;
		outline: none;
		border: 0;
	}

	button:hover {
		background: #28a745;
	}
}

@media (max-width: 1320px) {
	#filter-repo {
		flex-flow: row wrap;
		justify-content: center;

		.search-field {
			width: 100%;
		}

		.select {
			margin-top: 15px;
			width: 100%;
			justify-content: space-between;

			.language-type {
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 850px) {
	#filter-repo {
		.select {

			.language-type,
			.select-type {
				font-size: 14px;

				select {
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 533px) {
	.dummy-tabs {
		ul {
			margin-right: 0;

			li {
				a {
					margin-right: 5px;
					font-size: 12px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	#filter-repo {
		.search-field {
			margin: 0;
			margin-right: 10px;
		}

		.select {

			.language-type,
			.select-type {
				width: 45%;
				margin: 0;

				select {
					font-size: 10px;

					option {
						font-size: 10px;
					}
				}
			}

			.select-type {
				select {
					width: 75%;
				}
			}

			button {
				display: inline-block;
				margin-top: 10px;
				width: 100%;
			}
		}
	}
}

@media (max-width: 406px) {
	
}
