.repoItem {
	font-size: 12px;
	padding-top: 24px !important;
	padding-bottom: 24px !important;

	.topPart {
		margin-bottom: 1rem;
	}

	.repoLink {
		font-weight: 600;
		font-size: 20px;
		color: var(--text-accent-fg);
		text-decoration: none;
	}

	.repoLink:hover {
		border-bottom: 2px solid var(--text-accent-fg);

	}

	.Label {
		display: inline-block;
		padding: 0 7px;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		white-space: nowrap;
		border: 1px solid transparent;
		border-radius: 2em;
		color: var(--color-btn-text);
		border-color: var(--border);
		margin-right: 10px;
		margin-left: 10px;
	}

	.bottomPart {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		color: var(--text-muted);
	}

	.repo-language-color {
		position: relative;
		top: 1px;
		display: inline-block;
		width: 12px;
		height: 12px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 0.3rem;
	}
	.octicon{
		margin-right: 0.3rem;
	}

	.techName {
		margin-right: 2rem;
	}

	.Link--muted {
		color: var(--text-muted);
		margin-right: 2rem;
		display: flex;
		align-items: center;
	}
}

.pagination-container {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
	transition: all 0.3s ease-in-out;

	.pagination-item {
		padding: 0 12px;
		height: 32px;
		text-align: center;
		margin: auto 4px;
		color: var(--text-secondary);
		display: flex;
		box-sizing: border-box;
		align-items: center;
		letter-spacing: 0.01071em;
		border-radius: 16px;
		line-height: 1.43;
		font-size: 13px;
		min-width: 32px;
		transition: all 0.3s ease-in-out;


		&.dots:hover {
			background-color: transparent;
			cursor: default;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.14);
			cursor: pointer;
		}

		&-selected {
			background-color: rgba(0, 0, 0, 0.18);
		}

		.arrow {
			&::before {
				position: relative;
				/* top: 3pt; Uncomment this to lower the icons as requested in comments*/
				content: '';
				/* By using an em scale, the arrows will size with the font */
				display: inline-block;
				width: 0.4em;
				height: 0.4em;
				border-right: 0.12em solid var(--text-secondary);
				border-top: 0.12em solid var(--text-secondary);
			}

			&.left {
				transform: rotate(-135deg) translate(-50%);
			}

			&.right {
				transform: rotate(45deg);
			}
		}

		&-disabled {
			pointer-events: none;

			.arrow::before {
				border-right: 0.12em solid rgba(0, 0, 0, 0.43);
				border-top: 0.12em solid rgba(0, 0, 0, 0.43);
			}

			&:hover {
				background-color: transparent;
				cursor: default;
			}
		}
	}
}

