.sidepanel-container {
	width: var(--Layout-sidebar-width);
	grid-column: 1;
}
.avatar-container{
	position: relative!important;
	z-index: 123;

}

.avatar {
	position: relative;
	z-index: 1;
	overflow: hidden;
	line-height: 1;
	border: 1px solid #ccc;
	flex-shrink: 0;
	background-color: white;
	box-shadow: 0 0 0 1px var(--color-avatar-border);
	border-radius: 50% !important;
	height: auto;
	width: var(--Layout-sidebar-width);

}


@media (max-width: 768px) {
	.sidepanel-container {
		width: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		text-align: left;
	}
	.avatar{
		width: 100%;
	}
	.avatar-container {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
		text-align: left;
	}
	#bottomImage{
		width: 30%;
	}
}